<div class="control-group">
	<label class="control-label" for="simple_captcha"><%= simple_captcha_options[:label] %></label>
	<div class="controls">
		<%= simple_captcha_options[:image] %><br/>
		<%= simple_captcha_options[:field] %>
	</div>
</div>
