<!-- Main hero unit for a primary marketing message or call to action -->
<div class="alert alert-error">
  <h1>
	<i class="icon-white icon-exclamation-sign"></i>
	Acesso Negado.
  </h1>
  <br/>
  <p>Entre em contato com o administrador do sistema para maiores informações. </p>
  <hr>
  <%= link_to back_icon,
              :back, :class => 'btn'  %>

</div>


