<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1 style="text-align: center">Seja bem-vindo ao Integra IFB!</h1>
  <hr>
  <p style="text-align: center">Este é o Integra-IFB. Um arcabouço moderno e eficiente para controle de ferramentas institucionais.</p>
  <p style="text-align: center">Tudo em um só lugar. Saiba mais no <a href="http://ti.ifb.local">Portal da TI</a>.</p>
</div>

<hr>

<%= show_integra_engines %>

