<div class="hero-unit">
<h1><%=t 'general.no_models.contact'%></h1>
<hr>

<div class="row">
	<div class="span6">
		
			<p>Instituto Federal de Educação, Ciência e Tecnologia de Brasília | Reitoria</p>
			<p>SGAN 610, Módulos D, E, F e G, Brasília/DF, CEP 70860-100</p>
			<p>Fone/Fax: +55 (61) 2103-2154</p>
	    
	</div>	
</div>
</div>