// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dl-horizontal dd {
    margin-left: 330px;
}

.dl-horizontal dt {
    width: 300px;
}

dt, dd {
    line-height: 25px;
}