<p>Hello <%= @resource.email %>!</p>

<p>Alguém solicitou um link para troca da sua senha. Você pode fazer isso no link a seguir:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se você não realizou esta solicitação, por favor ignore este email.</p>
<p>Sua senha não será modificada até você acessar o link acima e criar uma nova senha.</p>

